body {
    background-color: aquamarine;
}
.container {
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  margin-top: 40px;
  max-width: 960px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  border: 2px grey;
  position: fixed;
}

.heading {
   grid-column-start: 1;
   grid-column-end: 3;
}

.menu {}

.content {}

.footer {}