body {

}

.wrapper {
  background-color: beige;
  max-height: 100px;
  border-bottom: gray(63, 63, 63) solid 2px;
}

.container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    justify-content: center;
}

.heading {
  position: relative;
  left: 200px;
  max-width: 250px;
  max-height: 80px;
  height: 80px;
  vertical-align: middle;
  line-height: 80px;
  text-align: center;
  background-color: brown;
  color: bisque;
}

.profile-image {
  height: 200px;
  widows: 300px;
  left: 800px;
}

#about {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px;
}

#portfolio {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px;
}

#contact {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px;
}

.about-me {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  text-align: left;
  padding-left: 10px;
  color: blueviolet;
}

.p {
  padding: 10px;
}

.image {
  height: 160px;
  width: 200px;
  float: left;
}